<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body" style="padding: 0.3rem 1rem">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/banner.jpg"
             class="img-responsive center-block"
             style="max-height:300px;" />
             <br/>
             <a style="font-size: small;padding-bottom:20px" href="https://www.freepik.com/free-vector/graphic-design-geometric-wallpaper_7088577.htm#query=graphic%20design&position=48&from_view=keyword">Image by pikisuperstar</a> on Freepik
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h4>i2v</h4>
      </div>

      <div class="text-center">
        <a href="https://github.com/Architrixs/i2v_dotnet_angular_test">https://github.com/Architrixs/i2v_dotnet_angular_test</a>
      </div>
    </div>
  </div>
</div>